<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bike Review Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/start-test.css}" href="/static/css/start-test.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

  <!-- Google font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap" rel="stylesheet">

  <!-- Modal -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>


<!--  <script type="module" th:src="@{/js/process-test.js}" src="/static/js/process-test.js"></script>-->
<!--  <script type="module" th:src="@{/js/start-test.js}" src="/static/js/start-test.js"></script>-->

    <script type="module" th:src="@{/js/process-test.js}"></script>
    <script type="module" th:src="@{/js/start-test.js}"></script>

</head>
<body>

    <div id="loading" class="d-none">
      <div class="spinner"></div>
      <p class="message">Please don't close the page until the test is done</p>
    </div>

     <main class="customer-search-container">

        <div class="search-customer-title-area" id="search-customer-title-area">
          <h1>Start a test</h1>
          <h4>Search for customer</h4>
          <cite>Enter an email of a registered customer to start a test</cite>
        </div>

          <div class="customer-email-area">
                <!-- <label>Enter customer Email</label> -->
                <div class="input-and-search">
                  <input id="emailBikeOwner" name="emailBikeOwner" type="email" placeholder="customer@gmail.com" required>
                  <button type="button" id="searchCustomer">Search</button>
                </div>
          </div>
          <div class="customer-found-test" id="customer-found-test">
            <!--   Here JS inserts the found customer  -->
               
          </div>

        <div id="customer-not-found" class="alert alert-danger" role="alert">
            Customer with email: <span id="customer-email-message"></span> not found.
        </div>

        <section class="container bike-container" id="bike-section">
          
          <div class="bikes-header">
           <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-bike-modal">
              Add New Bike
            </button>
            <h2 class="text-center mb-5" id="choose-bike-title">Choose a Bike</h2>
          </div>

          <div class="row row-cols-1 row-cols-md-3 g-4" id="bike-items-section">

            <!-- Here Bikes are inserted -->

          </div>
        </section>

        <div id="bikes-not-found" class="alert alert-danger" role="alert">
          This customer doesn't have any registered bikes.
      </div>

     </main>

  <!-- Modal -->
  <div class="modal fade" id="add-bike-modal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
            <!-- Form -->
            <form>
              <div class="row g-3">
                <!-- Left Column -->
                <div class="col-md-4">
                    <input name="bikeOwnerId" type="hidden" value="-1" id="bikeOwnerId-form">


                  <label>Chassis Number</label>
                  <input name="frameNumber" type="text" class="form-control" placeholder="VG2304K5111">
          
                  <label>Bike Brand</label>
                  <input name="brand" type="text" class="form-control" placeholder="Gazelle">
          
                  <label>Production Date</label>
                  <input name="productionDate" type="date" class="form-control" placeholder="2020-01-01">
          
                  <label>Max Support (%)</label>
                  <input name="maxSupport" type="number" class="form-control" placeholder="340">
                </div>
          
                <div class="col-md-4">
                  <label>Bike Size</label>
                  <select name="bikeSize" class="form-control">
                     <option value="" selected disabled>Choose size...</option>
                     <option value="XXS">XXS</option>
                     <option value="XS">XS</option>
                     <option value="S">S</option>
                     <option value="M">M</option>
                     <option value="L">L</option>
                     <option value="XL">XL</option>
                     <option value="XXL">XXL</option>
                     <option value="XXXL">XXXL</option>
                  </select>
          
                  <label>Type</label>
                  <input name="type" type="text" class="form-control" placeholder="Ultimate C380">
          
                  <label>Powertrain</label>
                  <input name="powertrain" type="text" class="form-control" value="Belt">
          
                  <label>Engine Power - Max (W)</label>
                  <input name="enginePowerMax" type="number" class="form-control" placeholder="600">
          
                  <label>Engine Torque (Nm)</label>
                  <input name="engineTorque" type="number" class="form-control" placeholder="85">
                </div>
          
                <div class="col-md-4">
                  <label>Mileage (km)</label>
                  <input name="milleage" type="number" class="form-control" placeholder="850">
          
                  <label>Accu Capacity (Wh)</label>
                  <input name="accCapacity" type="number" class="form-control" placeholder="500">
          
                  <label>Engine Power - Nominal (W)</label>
                  <input name="enginePowerNominal" type="number" class="form-control" placeholder="250">
          
                  <label>Gear Type</label>
                  <input name="gearType" type="text" class="form-control" placeholder="Enviolo">
          
                  <label>Engine Type</label>
                  <input name="engineType" type="text" class="form-control" placeholder="Bosch Performance Speed">
                </div>
              </div>
          
              <div class="mt-3 text-center">
                <button type="submit">Create Bike</button>
              </div>
            </form>
             <!-- End Form -->
        </div>
        <div class="modal-footer">
          <button type="button" id="close-modal-bike-creation" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Section -->

     <!-- Modal to add a bike to customer -->
    <div class="modal fade" style="width: 100%;"  tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" > <!-- aria-hidden="true" -->
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Add New Bike</h5>
          </div>
          <div class="modal-body" style="width: 100%;">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- End modal to add bike to customer -->

    <!--  Modal Start Test - After Bike Selection  -->
    <div class="modal fade" id="start-test-modal" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Start Test</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h4 id="bike-selected-frame-title"></h4>
                    <div class="test-inputs">
                       <label>Test Type</label>
                       <select required name="testType" id="testType" class="form-control">
                           <option value="" disabled selected>Choose...</option>
                           <option>STRESS</option>
                           <option>EFFICIENCY</option>
                           <option>MANUAL</option>
                       </select>
                       <label>TestBench Number</label>
                       <input name="testBenchNumber" id="testBenchNumber" type="number" placeholder="001">
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="start-test" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Start Test</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalToggleLabel2">Modal 2</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Hide this modal and show the first with the button below.
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
                </div>
            </div>
        </div>
    </div>

    <button class="btn btn-primary" data-bs-target="#start-test-modal" data-bs-toggle="modal">Open first modal</button>
    <!--  END START TEST MODAL  -->



<!--    <div id="test-form">-->
<!--         <form>-->
<!--           <label>Testbench Number</label>-->
<!--           <input name="testbenchNumber" type="number" placeholder="001">-->


<!--           <label>Email Bike Owner</label>-->
<!--           <input name="emailBikeOwner" type="text" placeholder="hallo@email.com">-->

<!--           <label>Chassis Number</label>-->
<!--           <input name="chassisNumber" type="text" placeholder="VG2304K5111">-->

<!--           <label>Bike Brand</label>-->
<!--           <input name="bikeBrand" type="text" placeholder="Gazelle">-->

<!--           <label>Bike Size</label>-->
<!--           <select th:name="bikeSize">-->
<!--             <option th:each="size : ${bikeSizes}" th:value="${size}" th:text="${size}"></option>-->
<!--           </select>-->

<!--           <label>Production Date</label>-->
<!--           <input name="productionDate" type="number" placeholder="2022" >-->

<!--           <label>Type</label>-->
<!--           <input name="type" type="text" placeholder="Ultimate C380">-->

<!--           <label>Powertrain</label>-->
<!--           <input name="powertrain" type="text" value="Belt">-->

<!--           <label>Engine Power - Max (W)</label>-->
<!--           <input name="enginePowerMax" type="number" placeholder="600">-->

<!--           <label>Mileage (km)</label>-->
<!--           <input name="mileage" type="number" placeholder="850">-->

<!--           <label>Accu Capacity (Wh)</label>-->
<!--           <input name="accuCapacity" type="number" placeholder="500">-->

<!--           <label>Engine Power - Nominal (W)</label>-->
<!--           <input name="enginePowerNominal" type="number" placeholder="250">-->

<!--           <label>Gear Type</label>-->
<!--           <input name="gearType" type="text" placeholder="Enviolo">-->

<!--           <label>Max Support (%)</label>-->
<!--           <input name="maxSupport" type="number" placeholder="340">-->

<!--           <label>Engine Torque (Nm)</label>-->
<!--           <input name="engineTorque" type="number" placeholder="85">-->

<!--           <label>Engine Type</label>-->
<!--           <input name="engineType" type="text" placeholder="Bosch Performance Speed">-->

<!--           <button type="submit">Submit</button>-->
<!--         </form>-->
<!--    </div>-->
</body>
</html>
