<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bike Review Form</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/start-test.css}" href="/static/css/start-test.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">


<!--  <script type="module" th:src="@{/js/process-test.js}" src="/static/js/process-test.js"></script>-->
 <script type="module" th:src="@{/js/start-test.js}" src="/static/js/start-test.js"></script>

</head>
<body>

    <div id="loading" class="d-none">
      <div class="spinner"></div>
      <p class="message">Please don't close the page until the test is done</p>
    </div>

     <main class="customer-search-container">
          <div class="customer-email-area">
                <label>Enter customer Email</label>
                <div class="input-and-search">
                  <input id="emailBikeOwner" name="emailBikeOwner" type="text" placeholder="customer@gmail.com">
                  <button type="button" id="searchCustomer">Search</button>
                </div>
          </div>
          <div class="customer-found-test" id="customer-found-test">
            <!--   Here JS inserts the found customer  -->
            <div class="customer-found-item" id="customer-found-item">
              <strong>Name:&nbsp;</strong> <span>${customer.name}</span>
              &nbsp;&nbsp;&nbsp; <br/>
              <strong>Email:&nbsp;</strong> <span>${customer.email}</span>
              &nbsp;&nbsp;&nbsp; <br/>
              <strong>Phone Number:&nbsp;</strong> <span>${customer.phoneNumber}</span>
          </div>
          </div>

         <!-- <section> -->
             <div id="customer-not-found" class="alert alert-danger" role="alert">
                 Customer with email: <span id="customer-email-message"></span> not found.
             </div>
         <!-- </section> -->
         <section>
              <button>
                  Add Bike 
              </button>
         </section>

        <div class="container bike-container">
          <h2 class="text-center mb-5">Choose a Bike</h2>
          <div class="row row-cols-1 row-cols-md-3 g-4">

            <!-- Bike Card -->
            <div class="col bike-item">
              <div class="card h-100 pricing-card">
                <div class="text-center">
                    <img class="bike-img" th:src="/img/ebike.png" src="/static/img/ebike.png" width="200px" alt="ebike">
                </div>
                <div class="card-body pricing-features">
                    <ol class="list-unstyled">
                        <li class="mb-3">
                            <strong>Frame Nr: </strong> <span>Frame</span>
                        </li>
                        <li class="mb-3">
                          <strong>Brand: </strong> <span>Brand</span>
                        </li>
                    </ol>
                    <div class="text-center mt-4">
                      <button type="button" class="btn btn-outline-primary btn-custom">Details</button>
                      <button type="button" class="btn btn-outline-primary btn-custom">Select</button>
                    </div>
                  </div>
              </div>
            </div>
            <!-- END - Bike Card -->

            <div class="col bike-item">
              <div class="card h-100 pricing-card">
                <div class="text-center">
                    <img class="bike-img" th:src="/img/ebike.png" src="/static/img/ebike.png" width="200px" alt="ebike">
                </div>
                <div class="card-body pricing-features">
                    <ol class="list-unstyled">
                        <li class="mb-3">
                            10 GB Storage
                        </li>
                        <li class="mb-3">
                            2 Users
                        </li>
                    </ol>
                    <div class="text-center mt-4">
                      <button type="button" class="btn btn-outline-primary btn-custom">Details</button>
                      <button type="button" class="btn btn-outline-primary btn-custom">Select</button>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col bike-item">
              <div class="card h-100 pricing-card">
                <div class="text-center">
                    <img class="bike-img" th:src="/img/ebike.png" src="/static/img/ebike.png" width="200px" alt="ebike">
                </div>
                <div class="card-body pricing-features">
                    <ol class="list-unstyled">
                        <li class="mb-3">
                            10 GB Storage
                        </li>
                        <li class="mb-3">
                            2 Users
                        </li>
                    </ol>
                    <div class="text-center mt-4">
                      <button type="button" class="btn btn-outline-primary btn-custom">Details</button>
                      <button type="button" class="btn btn-outline-primary btn-custom">Select</button>
                    </div>
                  </div>
              </div>
            </div>

            <div class="col bike-item">
              <div class="card h-100 pricing-card">
                <div class="text-center">
                    <img class="bike-img" th:src="/img/ebike.png" src="/static/img/ebike.png" width="200px" alt="ebike">
                </div>
                <div class="card-body pricing-features">
                    <ol class="list-unstyled">
                        <li class="mb-3">
                            10 GB Storage
                        </li>
                        <li class="mb-3">
                            2 Users
                        </li>
                    </ol>
                    <div class="text-center mt-4">
                      <button type="button" class="btn btn-outline-primary btn-custom">Details</button>
                      <button type="button" class="btn btn-outline-primary btn-custom">Select</button>
                    </div>
                  </div>
              </div>
            </div>

          </div>
        </div>
     </main>



<!--    <div id="test-form">-->
<!--         <form>-->
<!--           <label>Testbench Number</label>-->
<!--           <input name="testbenchNumber" type="number" placeholder="001">-->

<!--           <label>Test Type</label>-->
<!--           <select th:name="testType">-->
<!--             <option th:each="testType : ${testTypes}" th:value="${testType}" th:text="${testType}"></option>-->
<!--           </select>-->

<!--           <label>Email Bike Owner</label>-->
<!--           <input name="emailBikeOwner" type="text" placeholder="hallo@email.com">-->

<!--           <label>Chassis Number</label>-->
<!--           <input name="chassisNumber" type="text" placeholder="VG2304K5111">-->

<!--           <label>Bike Brand</label>-->
<!--           <input name="bikeBrand" type="text" placeholder="Gazelle">-->

<!--           <label>Bike Size</label>-->
<!--           <select th:name="bikeSize">-->
<!--             <option th:each="size : ${bikeSizes}" th:value="${size}" th:text="${size}"></option>-->
<!--           </select>-->

<!--           <label>Production Date</label>-->
<!--           <input name="productionDate" type="number" placeholder="2022" >-->

<!--           <label>Type</label>-->
<!--           <input name="type" type="text" placeholder="Ultimate C380">-->

<!--           <label>Powertrain</label>-->
<!--           <input name="powertrain" type="text" value="Belt">-->

<!--           <label>Engine Power - Max (W)</label>-->
<!--           <input name="enginePowerMax" type="number" placeholder="600">-->

<!--           <label>Mileage (km)</label>-->
<!--           <input name="mileage" type="number" placeholder="850">-->

<!--           <label>Accu Capacity (Wh)</label>-->
<!--           <input name="accuCapacity" type="number" placeholder="500">-->

<!--           <label>Engine Power - Nominal (W)</label>-->
<!--           <input name="enginePowerNominal" type="number" placeholder="250">-->

<!--           <label>Gear Type</label>-->
<!--           <input name="gearType" type="text" placeholder="Enviolo">-->

<!--           <label>Max Support (%)</label>-->
<!--           <input name="maxSupport" type="number" placeholder="340">-->

<!--           <label>Engine Torque (Nm)</label>-->
<!--           <input name="engineTorque" type="number" placeholder="85">-->

<!--           <label>Engine Type</label>-->
<!--           <input name="engineType" type="text" placeholder="Bosch Performance Speed">-->

<!--           <button type="submit">Submit</button>-->
<!--         </form>-->
<!--    </div>-->
</body>
</html>
